@charset "ISO-8859-1";

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap');

/*======================================
   GENERAL
========================================*/

*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	background: #fff;
	color: #393e46;
}

div
{
	display: block;
	position: relative;
	box-sizing: border-box;
}

ul
{
	list-style: none;
	margin-bottom: 0px;
}

p
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 500;
	color: #989898;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a
{
	display: inline;
	position: relative;
	color: inherit;
	padding-bottom: 3px;
	border-bottom: solid 2px #aad8d3;
	transition: all 200ms ease;
}

a, a:hover, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active
{
	position: relative;
	color: #00adb5;
}

p a:hover
{
	color: #00adb5;
}

p a:hover
{
	opacity: 0.5;
}

::selection
{
	background: #aad8d3;
	color: #fff;
}

p::selection
{
	background: #aad8d3;
	color: #fff;
}

h1{font-size: 72px};
h2{font-size: 40px};
h3{font-size: 28px};
h4{font-size: 24px};
h5{font-size: 16px};
h6{font-size: 14px};

h1, h2, h3, h4, h5, g6
{
	color: #393e46;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.trans-300
{
	transition: all 300ms ease;
}

::input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777;
}

.super-container
{
	width: 100%;
	overflow: hidden;
}

.fill-height
{
	height: 100%;
}

.break-10
{
	margin-top: 10px;
}

.break-100
{
	margin-top: 100px;
}


.section-title
{
	font-family: 'Playfair Display SC', serif;
	text-align: center;
	color: #393e46;
}

/*======================================
   HEADER
========================================*/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 10;
}

/* MAIN NAVIGATION */
.main-nav-container
{
	width: 100%;
	background: #fff;
	box-shadow: 0 0 16px rgba(0, 0, 0, .015);
}

.navbar
{
	width: auto;
	height: 100px;
	float: right;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-menu li
{
	display: inline-block;
}

.navbar-menu li a
{
	display: block;
	color: #393e46;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 20px;
	transition: color 0.3s ease;
}

.navbar-menu li a:hover
{
	color: #95cec9;
}

.navbar-user
{
	margin-left: 37px;
}

.navbar-user li
{
	display: inline-block;
	text-align: center;
}

.navbar-user li a
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 40px;
	height: 40px;
	color: #393e46;
	transition: color 0.3s ease;
}

.navbar-user li a:hover
{
	color: #95cec9;
}

/* Logo */
.logo-container
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
}

.logo-container a
{
	font-size: 20px;
	color: #393e46;
	font-weight: 700;
	text-transform: uppercase
}

.logo-container a span
{
	color: #00adb5;
}

/* Search */
.overlaySearch
{
	margin-top: 100px;
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.searchBar
{
	position: relative;
	top: 36%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

.overlaySearch .hideBtn
{
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: #f54748;
}

.overlaySearch .hideBtn:hover
{
	color: #fb3640;
}

.overlaySearch input[type = text]
{
	padding: 15px;
	font-size: 16px;
	border: none;
	float: left;
	width: 80%;
	background: #fff;
}

.overlaySearch input[type = text]:hover
{
	background: #f1f1f1;
}

.overlaySearch button
{
	float: left;
	width: 20%;
	padding: 15px;
	background: -webkit-linear-gradient(right, #00adb5, #aad8d3);
	font-size: 17px;
	border: none;
	color: #fff;
	cursor: pointer;
}

.overlaySearch button:hover
{
	opacity: 0.9;
}


/*======================================
   LOGIN / SIGNUP
========================================*/
.row-title
{
	padding: 5px;
	font-weight:bold;
	font-size:35px;
	text-align:center;
}
.login-link
{
	text-align: center;
}
.login-signup .wrapper
{
	overflow: hidden;  
  	background: #fff;
  	padding: 30px;
  	border-radius: 5px;
  	box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.1);
  	margin-top: 80px;
  	display: block;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.login-signup .wrapper .title-text
{
  	display: flex;
  	width: 200%;
}

.login-signup .wrapper .title
{
  	width: 50%;
  	font-size: 35px;
  	font-weight: 600;
  	text-align: center;
  	transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.login-signup .wrapper .slide-controls
{
  	position: relative;
  	display: flex;
  	height: 50px;
  	width: 100%;
  	overflow: hidden;
  	margin: 30px 0 10px 0;
  	justify-content: space-between;
  	border: 1px solid #eeeeee;
}

.login-signup .slide-controls .slide
{
	height: 100%;
  	width: 100%;
  	color: #fff;
  	font-size: 18px;
  	font-weight: 500;
  	text-align: center;
  	line-height: 48px;
  	cursor: pointer;
  	z-index: 1;
  	transition: all 0.6s ease;
}

.login-signup .slide-controls label.signup
{
	color: #393e46;
}

.login-signup .slide-controls .slider-tab
{
	position: absolute;
  	height: 100%;
  	width: 50%;
  	left: 0;
  	z-index: 0;
  	border-radius: 5px;
  	background: -webkit-linear-gradient(left, #00adb5, #aad8d3);
  	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login-signup input[type="radio"]
{
	display: none;
}

.login-signup #signup:checked ~ .slider-tab
{
	left: 50%;
}

.login-signup #signup:checked ~ label.signup
{
	color: #fff;
  	cursor: default;
  	user-select: none;
}

.login-signup #signup:checked ~ label.login
{
  	color: #393e46;
}

.login-signup #login:checked ~ label.signup
{
	color: #393e46;
}

.login-signup #login:checked ~ label.login
{
	cursor: default;
  	user-select: none;
}

.login-signup .wrapper .form-container
{
  	width: 100%;
  	overflow: hidden;
}

.login-signup .form-container .form-inner
{
  	display: flex;
  	width: 200%;
}

.login-signup .form-container .form-inner form
{
  	width: 50%;
  	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login-signup .form-inner form .field
{
  	height: 50px;
  	width: 100%;
  	margin-top: 20px;
}

.login-signup .form-inner form .field input
{
  	height: 100%;
  	width: 100%;
  	outline: none;
  	padding-left: 15px;
  	border-radius: 5px;
  	border: 1px solid #eeeeee;
  	border-bottom-width: 2px;
  	font-size: 17px;
  	transition: all 0.3s ease;
}

.login-signup .form-inner form .field input:focus
{
  	border-color: #aad8d3;
}

.login-signup .form-inner form .field input::placeholder
{
  	color: #999;
  	transition: all 0.3s ease;
}

.login-signup form .field input:focus::placeholder
{
  	color: #b3b3b3;
}

.login-signup .form-inner form .pass-link
{
  	margin-top: 10px;
  	margin-left: 10px;
}

.login-signup .form-inner form .signup-link
{
  	text-align: center;
  	margin-top: 30px;
}

.login-signup .form-inner form .pass-link a,
.login-signup .form-inner form .signup-link a
{
  	color: #00adb5;
  	text-decoration: none;
}

.login-signup .form-inner form .pass-link a:hover,
.login-signup .form-inner form .signup-link a:hover
{
  	text-decoration: underline;
}

.login-signup form .btn
{
  	height: 50px;
  	width: 100%;
  	border-radius: 5px;
  	position: relative;
  	overflow: hidden;
}

.login-signup form .btn .btn-layer
{
  	height: 100%;
  	width: 300%;
  	position: absolute;
  	left: -100%;
  	background: -webkit-linear-gradient(right, #00adb5, #aad8d3);
  	border-radius: 5px;
  	transition: all 0.4s ease;;
}

.login-signup form .btn:hover .btn-layer
{
  	left: 0;
}

.login-signup form .btn input[type="submit"]
{
  	height: 100%;
  	width: 100%;
  	z-index: 1;
  	position: relative;
  	background: none;
  	border: none;
  	color: #fff;
  	padding-left: 0;
  	border-radius: 5px;
  	font-size: 20px;
  	font-weight: 500;
  	cursor: pointer;
  	margin-top: 3px;
}

/*======================================
   FORGOT PASSWORD
========================================*/

.forgot-password .wrapper
{
	overflow: hidden;
	background: #fff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.1);
	margin-top: 80px;
	display: block;
	width: 50%;
	margin: 0 auto;
}

.forgot-password .wrapper .title-text
{
	display: flex;
	width: 200%;
}

.forgot-password .wrapper .title
{
	width: 50%;
	font-size: 35px;
	font-weight: 600;
	margin-left: 10px;
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.forgot-password .wrapper .forgot-ins
{
	margin-top: 30px;
	margin-left: 10px;
}

.forgot-password .wrapper .forgot-ins p
{
	font-size: 16px;
	font-weight: 400;
}

.forgot-password .wrapper .form-container
{
	width: 100%;
	overflow: hidden;
}

.forgot-password .form-container .form-inner
{
	display: flex;
	width: 200%;
}

.forgot-password .form-container .form-inner form
{
	width: 50%;
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.forgot-password .form-inner form .field
{
	height: 50px;
	width: 100%;
	margin-top: 20px;
}

.forgot-password .form-inner form .field input
{
	height: 100%;
  	width: 100%;
  	outline: none;
  	padding-left: 15px;
  	border-radius: 5px;
  	border: 1px solid #eeeeee;
  	border-bottom-width: 2px;
  	font-size: 17px;
  	transition: all 0.3s ease;
}

.forgot-password .form-inner form .field input:focus
{
	border-color: #aad8d3;
}

.forgot-password .form-inner form .field input::placeholder
{
	color: #999;
	transition: all 0.3s ease;
}

.forgot-password form .btn
{
	height: 50px;
	width: 100%;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.forgot-password form .btn .btn-layer
{
	height: 100%;
	width: 300%;
	position: absolute;
	left: -100%;
	background: -webkit-linear-gradient(right, #00adb5, #aad8d3);
  	border-radius: 5px;
  	transition: all 0.4s ease;
}

.forgot-password form .btn:hover .btn-layer
{
	left: 0;
}

.forgot-password form .btn input[type="submit"]
{
	height: 100%;
  	width: 100%;
  	z-index: 1;
  	position: relative;
  	background: none;
  	border: none;
  	color: #fff;
  	padding-left: 0;
  	border-radius: 5px;
  	font-size: 20px;
  	font-weight: 500;
  	cursor: pointer;
  	margin-top: 3px;
}

.forgot-password .form-inner form .back-to-login
{
	margin-top: 30px;
	margin-left: 10px;
}

.forgot-password .form-inner form .back-to-login a
{
	color: #00adb5;
	text-decoration: none;
}

.forgot-password .form-inner form .back-to-login a:hover
{
	text-decoration: underline;
}

/*======================================
   FOOTER
========================================*/

.footer
{
	background-color: #f3f5f8;
	padding: 50px;
	color: #284e5b;
}

.footer .links
{
	width: auto;
	height: 100px;
	float: right;
	padding-left: 0px;
	padding-right: 0px;
}

/*======================================
   PRODUCTS PAGE
========================================*/

/* SHOP SIDEBAR */
.shop-sidebar .single-widget
{
	margin-top: 30px;
	background: #f6f7fb;
	padding: 30px;
}

.shop-sidebar .single-widget:first-child
{
	margin-top: 50px;
}

.shop-sidebar .single-widget .title
{
	position: relative;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}

/* CATEGORY LIST*/
.shop-sidebar .category-list
{
	margin-top: 10px;
	list-style-type: none;
	padding-left: 0;
}

.shop-sidebar .category-list li
{
	margin-bottom: 10px;
}

.shop-sidebar .category-list li:last-child
{
	margin-bottom: 0px;
}

.shop-sidebar .category-list li a
{
	display: inline-block;
	color: #666;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
}

.shop-sidebar .category-list li a:hover
{
	color: #00adb5;
}

/* PRODUCT DETAILS */




.single-product .product-img
{
	position: relative;
	overflow: hidden;
	cursor: pointer;
	width: 25%;
	height: 25%;

}

.single-product .product-img a
{
	display: block;
	position: relative;
}

.single-product .product-img a img
{
	width: 100%;
}

.single-product .product-img a img.hover-img
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0 , 0.44, 1.18);
}

.single-product .product-img .product-action
{
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: left;
	z-index: 99;
	-webkit-transition: all 250ms ease-out;
	-o-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

.single-product .product-img .product-action a
{
	display: block;
	background-color: transparent;
	color: #393e46;
	text-align: left;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1;
	display: inline-block;
}

.single-product .product-img .product-action a:hover
{
	color: #00adb5;
}

.single-product .button-head
{
	background: #fff;
	display: inline-block;
	height: 40px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -50px;
	z-index: 9;
	height: 50px;
	line-height: 50px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.single-product:hover .button-head
{
	bottom: 0;
}

.single-product .product-content
{
	margin-top: 20px;
}

.single-product .product-img:hover.default-overlay::before
{
	background-color: rgba(38, 38, 38, 0.2);
	z-index: 9;
	-webkit-transition: all 250ms ease-out;
	-o-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	pointer-events: none;
	opacity: 1;
}

.single-product .product-img:hover.default-overlay.metro-overlay::before
{
	background-color: rgba(38, 38, 38, 0.2);
	z-index: 9;
	-webkit-transition: all 250ms ease-out;
	-o-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	pointer-events: none;
	opacity: 1;
}

.single-product .product-img:hover img.hover-img
{
	opacity: 1;
}

.single-product .product-content h3
{
	line-height: 22px;
}

.single-product .product-content h3 a
{
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	color: #393e46;
}

.single-product .product-content h3 a:hover
{
	color: #00adb5;
}

.single-product .product-content .product-price
{
	margin: 6px 0 0 0;
}

.single-product .product-content .product-price span
{
	font-size: 14px;
	font-weight: 400;
	color: #393e46;
}


/*======================================
   SHOPPING CART
========================================*/

.shopping-summary
{
	background: #fff;
}

.shopping-cart
{
	padding: 50px 0;
}

.shopping-summary .main-heading
{
	padding: 0 50px;
	background: #00adb5;
	color: #fff;
}

.shopping-summary .th
{
	border: none;
	font-weight: 600;
	color: #fff;
	text-align: center;
}

.shopping-summary .name
{
	position: absolute;
	width: 38%;
	left: 0;
}

.shopping-cart .remove-icon-first
{
	font-size: 16px;
	color: #fff;
}

.shopping-cart .total-amount
{
	margin-top: 50px;
}

.shopping-cart .total-amount .right
{
	padding-left: 100px;
}

.shopping-cart .total-amount .right ul li
{
	font-size: 15px;
	font-weight: 400;
	color: #393e46;
	margin-bottom: 12px;
	margin-right: 20px;
}

.shopping-cart .total-amount .right ul li.last
{
	padding-top: 12px;
	border-top: 1px solid #c8c8c8;
	color: #393e46;
	font-size: 15px;
	font-weight: 500;
}

.shopping-cart .total-amount .right ul li span
{
	display: inline-block;
	float: right;
}

.shopping-cart .total-amount .right .cartBtn .btn 
{
	text-align: center;
	justify-content: center;
	border-radius: 0;
	width: 100%;
	margin-top: 20px;
	height: 46px;
	line-height: 36px;
	font-size: 16px;
	font-weight: 500;
	border-color: #393e46;
	background-color: #393e46;
	color: #fff;
	outline: none;
}

.shopping-cart .total-amount .right .cartBtn .btn:hover
{
	background-color: #00adb5;
	color: #fff;
	border: none;
}

/*======================================
   CHECKOUT
========================================*/
.checkout
{
	padding: 0;
	background: #fff;
	padding-top: 20px;
	padding-bottom: 50px;
}

.checkout .checkout-form
{
	margin-top: 30px;
}

.checkout .checkout-form h2
{
	font-size: 25px;
	color: #393e46;
	font-weight: 700;
	line-height: 27px;
}

.checkout .checkout-form p
{
	font-size: 16px;
	color: #393e46;
	font-weight: 400;
	margin-top: 12px;
	margin-bottom: 30px;
}

.checkout .panel-body .form-group
{
	margin-bottom: 25px;
}

.checkout .panel-body .form-group text-label
{
	color: #393e46;
	position: relative;
}

.checkout .panel-body .form-group input-sm
{
	width: 100%;
	height: 45px;
	line-height: 50px;
	padding: 0 20px;
	border-radius: 3px;
	color: #333 !important;
	border: none;
	background: #f6f7fb;
}

.checkout .order-details
{
	margin-top: 30px;
	background: #fff;
	padding: 40px;
	border: 1px solid #eeeeee;
}

.checkout .order-details .single-widget
{
	margin-bottom: 30px;
}

.shop.checkout .single-widget h2 {
	position: relative;
	font-size: 15px;
	font-weight: 600;
	padding: 10px 30px;
	line-height: 24px;
	text-transform: uppercase;
	color: #393e46;
	padding-bottom: 5px;
}

.checkout .order-details .single-widget h2:before {
	position: absolute;
	content: "";
	left: 30px;
	bottom: 0;
	height: 2px;
	width: 50px;
	background: #00adb5;
}

.checkout .order-details .single-widget .content ul {
	margin-top: 30px;
	margin-right: 30px;
}

.checkout .order-details .single-widget .content ul li {
	display: block;
	font-size: 15px;
	font-weight: 400;
	color: #393e46;
	margin-bottom: 12px;
	list-style-type: none;
	padding-left: 0;
}

.checkout .order-details .single-widget .content ul li span {
	display: inline-block;
	float: right;
}

.checkout .order-details .single-widget .content ul li.last {
	padding-top: 12px;
	border-top: 1px solid #ebebeb;
	display: block;
	font-size: 15px;
	font-weight: 500;
	color: #393e46;
}

.checkout .single-widget .option {
	text-align: left;
	margin-right: 60px;
	padding: 0 30px 10px 30px;
}

.checkout .single-widget .option input[type = "radio"]
{
		opacity: 0;
}

.checkout .single-widget .option label
{
	position: relative;
	display: inline-block;
	padding-left: 30px;
	display: block;
	color: #555555;
}

.checkout .single-widget .option label::before,
.checkout .single-widget .option label::after {
	position: absolute;
	content: "";
	display: inline-block;
	margin-right: 30px;
}

.checkout .single-widget .option label::before {
	height: 16px;
	width: 16px;
	border: 1px solid #393e46;
	left: 0px;
	top: 3px;
}

.checkout .single-widget .option label::after {
	height: 5px;
	width: 9px;
	border-left: 2px solid;
	border-bottom: 2px solid;
	transform: rotate(-45deg);
	left: 4px;
	top: 7px;
}

.checkout .single-widget .option input[type = "radio"] + label::after {
	content: none;
}

.checkout .single-widget .option input[type = "radio"]:checked + label::after {
	content: "";
}

.checkout .single-widget .option input[type = "radio"]:focus + label::before {
		outline: #00adb5 auto 5px;
	}

.checkout .order-details .single-widget .get-button {
	text-align: center;
	padding: 0 35px;
}

.checkout .order-details .single-widget .get-button .button {
	height: 46px;
	width: 100%;
	line-height: 30px;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	background-color: #393e46;
	color: #fff;
}

.checkout .order-details .single-widget .get-button .button:hover {
	background-color: #00adb5;
	color: #fff;
	border: none;
}

/*======================================
   CONTACT US
========================================*/
.contact-us
{
	width: 100%;
	height: 700px;
}

.contact-us .title
{
	margin-bottom: 30px;
}

.contact-us .title h4
{
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 5px;
	color: #00adb5;
}

.contact-us .title h3
{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: -30px;
}

.contact-us .form-main {
	box-shadow: 0 0 15px #e6e2f5;
	padding: 50px;
}

.contact-us .form-group input[type="text"]
{
	height: 48px;
	line-height: 48px;
	width: 100%;
	border: 1px solid #e6e2f5;
	padding: 0 20px;
	color: #333;
	border-radius: 0px;
	font-weight: 400;
	margin-bottom: 25px;
}

.contact-us .form-group label
{
	color: #393e46;
	position: relative;
}

.contact-us .contact-form .button
{
	margin-top: 20px;
}

.contact-us .contact-form .button .btn
{
	border: none;
	background-color: #00adb5;
	padding: 10px;
	color: #fff;
	font-weight: 500;
}

.contact-us .contact-form .button .btn:hover
{
	background-color: #393e46;
	color: #fff;
}

/*======================================
   PRODUCT ITEM
========================================*/

.product-description
{
	margin-left: 50px;
}

.product-description span
{
	font-size: 16px;
	color: #00adb5;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 10px;
	font-weight: 500;
}

.product-description h2
{
	font-weight: 500;
	color: #393e46;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 10px;
	padding-top: 2px;
}

.product-description h5
{
	font-size: 18px;
	font-weight: 400;
	color: #86939e;
	line-height: 24px;
	margin-top: 2px;
	letter-spacing: 2px;
}

.product-description .product-color h5,
.product-description .product-size h5
{
	font-size: 14px;
	color: #333;
	letter-spacing: 1px;
	font-weight: 400;
	margin-top: 2px;
}

.product-description .product-color
{
	margin-top: 10px;
}


.product-description .product-size
{
	margin-top: 20px;
}

/*======================================
   HOME
========================================*/
	.btn {
		border: 2px solid #00adb5;
		padding: 5px;
	}

	.btn:hover {
		background-color: #00adb5;
		color: white;
		border: 2px solid white;
	}

.grid-container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 50px;
	align-content: center;
	justify-content: center;
}

	.grid-container > div {
		padding: 20px 0;
		text-align: center;
		font-size: 30px;
	}

.image-box {

	position: relative;
}

.name-box {
	width: 200px;
	height: 60px;
	border-bottom: 2px solid #00adb5;
	position: relative;
}

.product-img {
	display: block;
	width: 200px;
	height: 235px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: .3s ease;
	transition: .3s ease
}

.image-box:hover .overlay {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}

.overlay-img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 350px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center
}

.content {
	text-align: left;
}

.product-name {
	font-weight: bold;
	padding: 2px;
	line-height:1em;
	word-wrap: break-word;
	font-size: 16px;
	text-transform: uppercase;

}

.product-price {
	padding: 2px;
	font-size: 15px;
}

.product-size {
	padding: 2px;
	font-size: 15px;
}

.product-colour {
	padding: 2px;
	font-size: 15px;
}

.single-product {
	margin-top: 50px;
}

